*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}
h2{
    color: #5e0e85;
}
.card{
    
    border: 1px solid purple !important;
    width: 90%;
    display: flex;
    flex-direction: column; /* Coloca los elementos uno encima del otro */
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    
}
.container{
    /*border: 1px solid red;*/
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
   gap: 20px;

   
}

img{
    width: 100%;
     height: auto;
     font-size: 1rem;
}

.contenido{
    
    display: flex;
  flex-direction: column;
    text-align: center;    /* Opcional: centra el texto dentro de su contenedor */
    padding: 10px;         /* Espaciado interno opcional */
 /*  background-color: #f0f0f0; Fondo opcional para visualizaci칩n */
  border: 1px ;
  
}
.card:hover {
    transform: scale(1.05); /* Aumenta el tama침o de la tarjeta un 5% */
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25); /* A침ade una sombra m치s grande */
}
/*prueba efectos*/

  
  